footer
  +fluid-type(80px, 160px, 'margin-top')
  +fluid-type(40px, 140px, 'padding-bottom')
  position: relative

.footer__menu
  display: flex
  align-items: center
  justify-content: space-between
  +fluid-type(20px, 32px, 'padding-top')
  +fluid-type(20px, 32px, 'padding-bottom')
  border-top: 2px solid $border-color
  gap: 10px

.footer__bottom
  +fluid-type(32px, 80px, 'margin-top')
  display: flex
  justify-content: space-between
  +mediaSize($small-tablet)
    flex-direction: column
    margin-top: 0

.footer__socials
  +mediaSize($small-tablet)
    border-bottom: 2px solid $border-color
    padding: 32px 0
    margin-bottom: 32px

.footer__socials__listing
  display: grid
  grid-template-columns: repeat(4, auto)
  +fluid-type(16px, 20px, 'grid-gap')
  +fluid-type(20px, 32px, 'margin-top')

.social-button
  display: flex
  align-items: center
  justify-content: center
  border-radius: 4px
  background-color: $tile-bg
  width: 56px
  height: 56px
  transition: background-color .2s ease

.social-button:hover,
.social-button:focus
  background-color: white

.social-button:hover img,
.social-button:focus img
  filter: brightness(0) saturate(100%) invert(10%) sepia(34%) saturate(535%) hue-rotate(188deg) brightness(96%) contrast(96%)

.social-button img
  width: 24px
  height: 24px
  object-fit: contain

.footer__tech-links
  display: block

.footer__tech-links ul
  display: flex
  flex-wrap: wrap
  +fluid-type(20px, 40px, 'grid-column-gap')
  +fluid-type(20px, 36px, 'grid-row-gap')
  max-width: 360px
  +mediaSize($small-tablet)
    max-width: 100%

.footer__tech-links ul li
  line-height: 1

.footer__tech-links a
  text-decoration: underline

.footer__tech-links a:hover,
.footer__tech-links a:focus
  color: white

.footer__menu .header__cta
  +mediaSize($tablet)
    display: flex

.footer__navigation
  display: none
  +mediaSize($tablet)
    display: block
    margin-top: 32px
    padding: 32px 0
    border-top: 2px solid $border-color
    border-bottom: 2px solid $border-color

.footer__navigation nav
  display: flex
  justify-content: center

.footer__navigation ul
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 16px
  +mediaSize($mobile)
    grid-template-columns: 1fr 1fr

.footer-lottie
  position: absolute
  left: 0
  bottom: 0
  height: 228px
  width: 100%
  pointer-events: none
  +mediaSize($small-tablet)
    display: none