//default styles for site
html
  background-color: $bg-color

html:before
  content: ''
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-image: url("../image/grid.jpg")
  background-repeat: no-repeat
  background-size: cover
  pointer-events: none
  z-index: -100

html, body
  font-family: $lexend-font
  font-weight: 300
  margin: 0
  color: $text-color
  line-height: 1.5
  border: none
  letter-spacing: normal
  font-kerning: none
  text-rendering: optimizeSpeed
  height: 100%
  overflow-scrolling: revert
  width: 100%
  font-size: $base-fz
  z-index: 0

a
  text-decoration: none
  color: inherit
  transition: color .3s ease, opacity .3s ease

a.hover-link:hover
  color: $green

.default-outline:focus
  outline: 2px dashed $green
  border-radius: inherit

.default-outline:focus:not(:focus-visible)
  outline: none

.svg-container
  position: absolute
  left: 0
  bottom: 0
  width: 0
  height: 0
  opacity: 0
  visibility: hidden
  z-index: -1

.ajax-content
  display: none


.disabled,
[disabled]
  pointer-events: none !important
  opacity: .5 !important
  box-shadow: none !important

*::selection
  background: rgba(91, 158, 112, .2)
  text-shadow: none

.icon
  display: flex

.main-wrapper > header,
.main-wrapper > footer
  flex-shrink: 0

.container-main
  padding: 0 $default-gap
  max-width: calc(1160px + #{$default-gap} * 2)
  margin: 0 auto

p, ul
  padding: 0
  margin: 0

button
  overflow: visible
  background: none
  appearance: none

h1, h2, h3, h4, h5, h6, p
  margin: 0

\:root
  --vh: 1vh
  --headerHeight: 100px
  +mediaSize($tablet)
    --headerHeight: 98px

h1, h2, h3, h4,h5,h6
  font-weight: 600
  color: white
  line-height: 1.2

.icon
  display: inline-flex

section
  position: relative
  z-index: 0

.section-title
  text-align: center
  +fluid-type(32px, 56px)
  max-width: 960px
  margin-left: auto
  margin-right: auto

.section-title--no-center
  margin-left: 0
  margin-right: 0

.section-title--left
  text-align: left

.section-subtitle--center
  text-align: center

.section-subtitle
  +fluid-type(20px, 32px, 'margin-top')
  +fluid-type(16px, 18px)

section + section
  +fluid-type(80px, 160px, 'margin-top')

.fz-28-20
  +fluid-type(20px, 28px)

.fz-28-24
  +fluid-type(24px, 28px)

.fz-36-24
  +fluid-type(24px, 36px)

.tile-bg
  background-color: $tile-bg
  border-radius: 16px
  border: 2px solid $border-color
  position: relative
  z-index: 0

.tile-bg--no-border
  border: 0

.ordered-list
  margin: 0
  padding: 0
  list-style: none
  counter-reset: why-get-list

.ordered-list > *:before
  counter-increment: why-get-list
  content: counter(why-get-list)
  display: flex
  align-items: center
  justify-content: center
  +fluid-type(32px, 40px, 'width')
  +fluid-type(32px, 40px, 'height')
  color: $text-black
  font-weight: 600
  +fluid-type(16px, 20px)
  background: url('../image/ol-item.svg')
  background-repeat: no-repeat
  background-size: 100%
  flex-shrink: 0

.split-line
  overflow: hidden

.title-animation
  font-kerning: none
  -webkit-text-rendering: optimizeSpeed
  text-rendering: optimizeSpeed
  -webkit-transform: translateZ(0)
  transform: translateZ(0)

.title-animation
  visibility: hidden

.title-animation > *
  display: inline-block
  will-change: opacity, transform

.grad
  position: fixed
  left: 0
  top: 0
  bottom: 0
  right: 0
  z-index: -1
  filter: blur(50px)
  pointer-events: none
  +mediaSize($mobile)
    display: none

.clip-svg
  position: absolute
  left: 0
  top: 0
  width: 0!important
  height: 0!important
  pointer-events: none

.img-in-text,
.bubble-w-image
  display: inline-block

.bubble-w-image--green
  background-color: $green

.bubble-w-image--blue
  background-color: $blue

.img-in-text img
  pointer-events: none
  max-height: 0.8em

.bubble-w-image
  border-radius: 40px
  overflow: hidden
  position: relative
  +fluid-type(40px, 68px, 'height')

.bubble-w-image--200
  +fluid-type(100px, 200px, 'width')

.bubble-w-image--140
  +fluid-type(90px, 120px, 'width')

.bubble-w-image--120
  +fluid-type(70px, 140px, 'width')

.bubble-w-image img
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  max-height: 2em
  display: inline-block!important

.scroll-snap__elements:before,
.scroll-snap__elements:after
  +mediaSize($tablet)
    content: ''
    display: inline-block
    left: 0
    bottom: 0
    height: 20px
    width: $default-gap - 16px
    flex-shrink: 0
    pointer-events: none

.scroll-snap__elements > *
  scroll-snap-align: center
  white-space: normal

.scroll-snap__elements
  scroll-snap-type: x mandatory
  -webkit-overflow-scrolling: touch
  white-space: nowrap
  overflow: scroll
  scroll-behavior: smooth
  +mediaSize($tablet)
    width: calc(100% + #{$default-gap * 2})
    margin-left: -$default-gap
    grid-gap: 16px
  &::-webkit-scrollbar
    appearance: none
    width: 0
    display: none

.scroll-snap.no-scroll .scroll-snap__indicators
  display: none

.scroll-snap__indicators
  margin-top: 32px
  grid-gap: 10px
  display: flex

.scroll-snap__indicator
  height: 4px
  border-radius: 6px
  background-color: rgba(59, 62, 72, 0.5)
  width: 100%
  transition: background-color .2s linear

.scroll-snap__indicator:hover,
.scroll-snap__indicator:focus,
.scroll-snap__indicator.active
  background-color: $green

.blue
  color: $blue

.green
  color: $green

.bold
  font-weight: 600

.white
  color: white

.animated-stars > *
  animation: starsAnimation 3s linear infinite alternate

@keyframes flickering
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100%
    opacity: .99
  20%, 21.999%, 63%, 63.999%, 65%, 69.999%
    opacity: 0.4

section:not(.section--visible) *
  animation-play-state: paused!important