.nft-generator
  +fluid-type(26px, 36px, 'margin-top')

.nft-generator__controls
  display: flex
  justify-content: space-between
  align-items: center

.nft-generator__controls__arrow
  +fluid-type(20px, 28px, 'height')
  +fluid-type(20px, 28px, 'width')
  flex-shrink: 0
  color: white
  transition: color .2s ease

.nft-generator__controls__arrow:hover,
.nft-generator__controls__arrow:focus
  color: $green

.nft-generator__controls__arrow.right
  transform: rotate(180deg)

.nft-generator__controls__pagination
  +fluid-type(16px, 36px, 'margin-left')
  +fluid-type(16px, 36px, 'margin-right')
  display: flex
  justify-content: space-between
  +fluid-type(8px, 12px, 'gap')
  flex-grow: 1

.pagination-pip
  flex-grow: 1
  flex-shrink: 1
  height: 6px
  border-radius: 8px
  background-color: rgba(59, 62, 72, 0.5)
  position: relative

.pagination-pip:before
  content: ''
  position: absolute
  left: -3px
  top: -3px
  right: -3px
  bottom: -3px
  border-radius: inherit
  border: 1px solid rgba(59, 62, 72, 0.5)
  opacity: 0
  transition: opacity .2s ease

.pagination-pip .progress
  position: absolute
  left: 0
  top: 0
  bottom: 0
  border-radius: inherit
  background-color: $green
  width: 0

.pagination-pip.active:before
  opacity: 1

.nft-generator__heading
  +fluid-type(26px, 36px, 'margin-top')
  display: flex
  justify-content: space-between
  align-items: center

.nft-generator__state span
  position: absolute
  right: 0
  top: 0
  opacity: 0
  border-radius: 50px
  background-color: rgba(255,255,255, .04)
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  padding: 0 12px
  +fluid-type(14px, 16px)

//.nft-generator__state span.active
//  opacity: 1

.nft-generator__state
  position: relative
  width: 50%
  height: 36px
  +mediaSize($mobile)
    height: 30px

.nft-generator__shuttle
  margin-top: 20px
  position: relative
  display: flex
  justify-content: center

.nft-generator__shuttle img
  position: absolute
  left: 50%
  transform: translateX(-50%)
  top: 0
  +fluid-type(280px, 456px, 'width')
  +fluid-type(280px, 456px, 'height')
  max-width: 100%
  max-height: 100%
  object-fit: contain
  pointer-events: none
  user-select: none

.nft-generator__shuttle > img
  position: static
  transform: none

.nft-generator__shuttle .pointers
  pointer-events: none

.nft-generator__shuttle .colored img
  opacity: .2
  transition: opacity .2s linear

.nft-generator__shuttle .colored img:not(.visible)
  opacity: 0

.nft-generator__shuttle .colored .part-container.active .visible
  opacity: 1

.nft-generator__shuttle .skeleton img
  z-index: 1

.nft-generator__shuttle img.hidden
  opacity: 0

.parts-selector
  position: absolute
  left: 0
  right: 0
  top: 80%
  transform: translateY(-50%)
  display: flex
  justify-content: space-between
  transition: top .2s ease-in-out, opacity .2s ease

[data-current-stage="2"] .parts-selector
  top: 50%

[data-current-stage="3"] .parts-selector
  top: 5%

[data-current-stage="4"] .parts-selector
  top: 20%


.parts-selector__button
  border-radius: 50%
  background-color: white
  color: $bg-color
  +fluid-type(32px, 44px, 'width')
  +fluid-type(32px, 44px, 'height')
  display: flex
  align-items: center
  justify-content: center
  transition: opacity .2s ease

.parts-selector__button svg
  width: 16px
  height: 16px
  +mediaSize($small-tablet)
    width: 12px
    height: 12px

.parts-selector__button--prev
  transform: rotate(-180deg)