.notepad
  display: grid
  grid-template-columns: 1fr 1fr
  +fluid-type(12px, 40px, 'grid-gap')
  +fluid-type(32px, 60px, 'margin-top')
  +mediaSize($mobile)
    grid-template-columns: minmax(0, 1fr)

.notepad-page
  position: relative
  overflow: hidden
  +fluid-type(32px, 60px, 'padding-top')
  +fluid-type(32px, 60px, 'padding-bottom')
  +fluid-type(20px, 60px, 'padding-left')
  +fluid-type(20px, 60px, 'padding-right')

.notepad-right .notepad-circles
  transform: scaleX(-1)

.notepad-left .notepad-circles
  +mediaSize($mobile)
    transform: scaleY(-1)


.notepad-circles
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: -1
  background-image: url("../image/backgrounds/notepad-horizontal.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  background-position: center center
  +mediaSize($mobile)
    background-image: url("../image/backgrounds/notepad-vertical.png")

.notepad__page-name
  padding: 8px 16px
  border-radius: 50px
  background: linear-gradient(0deg, #1B1F2C, #1B1F2C), #FFFFFF
  display: inline-block
  margin-bottom: 12px

.notepad__button
  position: relative
  font-weight: 500
  color: white
  +fluid-type(20px, 24px)
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  +fluid-type(12px, 20px, 'padding-top')
  +fluid-type(12px, 20px, 'padding-bottom')
  border-bottom: 2px solid $border-color

.notepad__button:hover .icon,
.notepad__button.active .icon,
.notepad__button:focus .icon
  background-color: white
  color: $text-black

.notepad__button:hover:before,
.notepad__button.active:before,
.notepad__button:focus:before
  width: 68%

.notepad__button:before
  content: ''
  position: absolute
  bottom: -2px
  left: 0
  height: 2px
  width: 0
  background-color: white
  transition: width .2s linear

.notepad__button .icon
  +fluid-type(32px, 44px, 'width')
  +fluid-type(32px, 44px, 'height')
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  background-color: $slight-white-bg
  transition: background-color .2s ease

.notepad__button .icon svg
  +fluid-type(16px, 20px, 'width')
  +fluid-type(16px, 20px, 'height')
  transition: inherit

.notepad-page .notepad__rings
  top: 54px
  bottom: 54px

.notepad-page .notepad__rings .ring
  height: 24px
  transform: translateX(10px)

.notepad__page-content.active
  display: block
  //animation: fade-in 1s linear
  //height: auto
  //visibility: visible

.notepad__page-content
  display: none

.notepad__page-title
  +fluid-type(20px, 32px, 'margin-top')

.notepad__page-description
  +fluid-type(12px, 32px, 'margin-top')
  +fluid-type(16px, 18px)