*:not(svg):not(use), *:before, *:after {
  box-sizing: border-box;
}

*:active, *:hover, *:focus, a:active, a:hover {
  outline: 0;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, menu, section, summary {
  display: block;
}

nav {
  display: flex;
  flex-flow: row wrap;
}

main {
  width: 100%;
  display: block;
}

audio, canvas, iframe, img, video, progress {
  border: 0;
  vertical-align: middle;
}

audio:not([controls]), [hidden], template {
  display: none;
  height: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

i, address, dfn {
  font-style: normal;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}

select {
  cursor: pointer;
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  overflow: visible;
  cursor: pointer;
  text-transform: none;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

td, th {
  padding: 0;
}

optgroup {
  font-weight: 700;
}

legend,
fieldset,
input,
optgroup,
button,
select,
figure,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  resize: none;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  overflow: auto;
}

b, strong {
  font-weight: bold;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

blockquote, q {
  quotes: none;
  margin: 0;
  padding: 0;
}

input[type='number'] {
  -webkit-appearance: none;
  position: relative;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-animation: autofill 0 forwards;
  animation: autofill 0 forwards;
}

header ul, footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

svg:not(:root), svg {
  border: 0;
  vertical-align: middle;
  overflow: hidden;
  color: inherit;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

use {
  color: inherit;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

path {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

input::-ms-clear, ::-webkit-inner-spin-button {
  display: none !important;
}

::-webkit-file-upload-button {
  border: none;
  padding: 0;
  opacity: 0;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/LexendDeca-Light.eot");
  src: url("../fonts/LexendDeca-Light.woff") format("woff"), url("../fonts/LexendDeca-Light.woff2") format("woff2"), url("../fonts/LexendDeca-Light.ttf") format("truetype"), url("../fonts/LexendDeca-Light.svg#Lexend") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/LexendDeca-Medium.eot");
  src: url("../fonts/LexendDeca-Medium.woff") format("woff"), url("../fonts/LexendDeca-Medium.woff2") format("woff2"), url("../fonts/LexendDeca-Medium.ttf") format("truetype"), url("../fonts/LexendDeca-Medium.svg#Lexend") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/LexendDeca-SemiBold.eot");
  src: url("../fonts/LexendDeca-SemiBold.woff") format("woff"), url("../fonts/LexendDeca-SemiBold.woff2") format("woff2"), url("../fonts/LexendDeca-SemiBold.ttf") format("truetype"), url("../fonts/LexendDeca-SemiBold.svg#Lexend") format("svg");
  font-weight: 600;
  font-style: normal;
}

html, body {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  margin: 0;
  color: #878A94;
  line-height: 1.5;
  border: none;
  letter-spacing: normal;
  -webkit-font-kerning: none;
          font-kerning: none;
  text-rendering: optimizeSpeed;
  height: 100%;
  overflow-scrolling: revert;
  width: 100%;
  font-size: 16px;
  background-color: #1B1F2C;
  z-index: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .3s ease, opacity .3s ease;
}

.svg-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.ajax-content {
  display: none;
}

.disabled,
[disabled] {
  pointer-events: none !important;
  opacity: .5 !important;
  box-shadow: none !important;
}

*::-moz-selection {
  background: rgba(91, 158, 112, 0.2);
  text-shadow: none;
}

*::selection {
  background: rgba(91, 158, 112, 0.2);
  text-shadow: none;
}

.icon {
  display: flex;
}

.main-wrapper > header,
.main-wrapper > footer {
  flex-shrink: 0;
}

.container-main {
  padding: 0 20px;
  max-width: calc(1160px + 20px * 2);
  margin: 0 auto;
}

p, ul {
  padding: 0;
  margin: 0;
}

button {
  overflow: visible;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a:focus,
.btn:focus {
  outline: 2px dashed #F67668;
}

:root {
  --vh: 1vh;
  --headerHeight: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: white;
}

.icon {
  display: inline-flex;
}

section {
  position: relative;
  z-index: 0;
}

.header-inner {
  padding: 1.33333333em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  border-bottom: 2px solid rgba(59, 62, 72, 0.5);
}

.header-inner {
  padding-top: 18px;
}

.header-inner {
  padding-bottom: 18px;
}

.header__logo {
  width: 136px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-inner > nav {
  font-size: 16px;
}

.header-inner > nav ul {
  display: flex;
  align-items: center;
}

.header-inner > nav ul li + li {
  margin-left: 20px;
}

.header__cta {
  font-size: 18px;
  font-weight: 600;
  color: white;
  position: relative;
}

.header__cta .icon {
  position: absolute;
  left: 100%;
  top: -4px;
  width: 16px;
  height: 16px;
  color: #29BAAC;
  transition: color .3s ease;
}

.header__cta:hover,
.header__cta:focus {
  color: #29BAAC;
}

.header__cta:hover .icon,
.header__cta:focus .icon {
  color: white;
}

.hero__content {
  width: 55%;
}

.hero__content {
  margin-top: 44px;
}

.hero__content h1 {
  color: white;
}

.hero__content h1 {
  font-size: 32px;
}

.hero__content h1 {
  line-height: 42px;
}

.attention,
.draw-underline {
  position: relative;
  display: inline-block;
}

.attention .icon {
  color: #29BAAC;
  position: absolute;
  left: calc(100% - .05em);
  top: .05em;
  width: 0.5em;
  height: 0.5em;
}

.draw-underline .icon {
  position: absolute;
  color: #29BAAC;
  width: 100%;
  bottom: -.15em;
  left: 0;
  height: .35em;
}

.hero__actions {
  display: flex;
  align-items: center;
}

.hero__actions {
  margin-top: 20px;
}

.hero__actions {
  font-size: 16px;
}

.hero__actions .btn {
  flex-shrink: 0;
  width: 220px;
}

.hero__actions .btn {
  margin-right: 20px;
}

.hero__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 172px 22px 172px 22px 172px;
  grid-template-columns: repeat(3, 172px);
  grid-gap: 22px;
}

.hero__cards {
  margin-top: 32px;
}

.notepad-card {
  background-color: #1B1F2C;
  padding: 20px;
  position: relative;
}

.notepad-card:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 2px solid rgba(59, 62, 72, 0.5);
  border-radius: 8px;
  pointer-events: none;
}

.notepad-card__icon {
  width: 32px;
}

.notepad-card__icon {
  height: 32px;
}

.notepad-card__title {
  margin-top: 16px;
  line-height: 1.15;
}

.notepad-card__title {
  font-size: 20px;
}

.notepad-card__content {
  margin-top: 14px;
  font-size: .875rem;
}

.notepad__rings {
  position: absolute;
  top: 24px;
  bottom: 24px;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  overflow: hidden;
}

.notepad__rings .ring {
  width: 40px;
  height: 14px;
  border-radius: 50px;
  border: 2px solid rgba(59, 62, 72, 0.5);
  background-color: #1B1F2C;
  flex-shrink: 0;
  -webkit-transform: translateX(28px);
          transform: translateX(28px);
}

.btn .value {
  padding: 20px;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.btn .value {
  font-size: 14px;
}

.btn-primary {
  position: relative;
  transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  transition: transform .15s linear, -webkit-transform .15s linear;
}

.btn:focus {
  outline: none;
}

.btn-primary:hover .value,
.btn-primary:focus .value {
  -webkit-transform: none;
          transform: none;
}

.btn-primary .value {
  background: linear-gradient(270deg, #F67668 0%, #F79576 100%);
  -webkit-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
  transition: inherit;
}

.btn-primary:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgba(59, 62, 72, 0.5);
  border-radius: 8px;
  z-index: -1;
}

@media screen and (min-width: 600px) {
  .header-inner {
    padding-top: calc(18px + 14 * ((100vw - 600px) / 600));
  }
  .header-inner {
    padding-bottom: calc(18px + 14 * ((100vw - 600px) / 600));
  }
  .header-inner > nav ul li + li {
    margin-left: calc(20px + 20 * ((100vw - 600px) / 600));
  }
  .hero__content {
    margin-top: calc(44px + 36 * ((100vw - 600px) / 600));
  }
  .hero__content h1 {
    font-size: calc(32px + 40 * ((100vw - 600px) / 600));
  }
  .hero__content h1 {
    line-height: calc(42px + 44 * ((100vw - 600px) / 600));
  }
  .hero__actions {
    margin-top: calc(20px + 48 * ((100vw - 600px) / 600));
  }
  .hero__actions {
    font-size: calc(16px + 2 * ((100vw - 600px) / 600));
  }
  .hero__actions .btn {
    margin-right: calc(20px + 48 * ((100vw - 600px) / 600));
  }
  .hero__cards {
    margin-top: calc(32px + 28 * ((100vw - 600px) / 600));
  }
  .notepad-card__icon {
    width: calc(32px + 4 * ((100vw - 600px) / 600));
  }
  .notepad-card__icon {
    height: calc(32px + 4 * ((100vw - 600px) / 600));
  }
  .notepad-card__title {
    font-size: calc(20px + 8 * ((100vw - 600px) / 600));
  }
  .btn .value {
    font-size: calc(14px + 2 * ((100vw - 600px) / 600));
  }
}

@media screen and (min-width: 1200px) {
  .header-inner {
    padding-top: 32px;
  }
  .header-inner {
    padding-bottom: 32px;
  }
  .header-inner > nav ul li + li {
    margin-left: 40px;
  }
  .hero__content {
    margin-top: 80px;
  }
  .hero__content h1 {
    font-size: 72px;
  }
  .hero__content h1 {
    line-height: 86px;
  }
  .hero__actions {
    margin-top: 68px;
  }
  .hero__actions {
    font-size: 18px;
  }
  .hero__actions .btn {
    margin-right: 68px;
  }
  .hero__cards {
    margin-top: 60px;
  }
  .notepad-card__icon {
    width: 36px;
  }
  .notepad-card__icon {
    height: 36px;
  }
  .notepad-card__title {
    font-size: 28px;
  }
  .btn .value {
    font-size: 16px;
  }
}
