.notepad-card
  padding: 20px
  position: relative
  transform: translateZ(0)
  z-index: 0
  +mediaSize($mobile)
    padding-right: calc(20px + 32px + 20px)

.notepad-card__icon
  +fluid-type(32px, 36px, 'width')
  +fluid-type(32px, 36px, 'height')
  +mediaSize($mobile)
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)

.notepad-card__title
  margin-top: 16px
  line-height: 1.15
  +mediaSize($mobile)
    margin-top: 0

.notepad-card__content
  margin-top: 14px
  font-size: .875rem

.notepad-card__circles
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: -1
  border-radius: 8px
  background-image: url("../image/backgrounds/notepad-card.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  background-position: center center
  +mediaSize($mobile)
    background-image: url("../image/backgrounds/notepad-card-mobile.png")