.benefits
  display: grid
  grid-template-columns: 1fr 1fr
  +mediaSize($small-tablet)
    grid-template-columns: minmax(0, 1fr)

.benefits__actions
  display: flex
  align-items: center
  +fluid-type(32px, 60px, 'margin-top')
  +mediaSize($mobile)
    flex-direction: column
    align-items: center

.benefits__actions .btn-tertiary
  +fluid-type(20px, 66px, 'margin-left')
  +mediaSize($mobile)
    margin-left: 0
    margin-top: 36px

.benefits__actions .btn-primary
  +fluid-type(180px, 220px, 'min-width')

.benefits__decor
  +mediaSize($small-tablet)
    display: none

.benefits__decor .rocket
  animation: rocketAnimation 10s ease infinite

@keyframes rocketAnimation
  50%
    transform: translate(30px, 20px)

.benefits__decor .smoke
  animation: smokeAnimation 10s ease infinite
  transform-origin: 50%

@keyframes smokeAnimation
  50%
    transform: translate(30px, 20px) scale(.9)

.benefits__decor .light
  animation: flickering 3s linear infinite

