.benefits
  display: grid
  grid-template-columns: 1fr 1fr

.benefits__actions
  display: flex
  align-items: center
  +fluid-type(32px, 60px, 'margin-top')

.benefits__actions .btn-tertiary
  +fluid-type(20px, 66px, 'margin-left')

.benefits__actions .btn-primary
  +fluid-type(180px, 220px, 'min-width')