.cta-litepaper
  +fluid-type(32px, 60px, 'padding-top')
  +fluid-type(32px, 60px, 'padding-bottom')
  +fluid-type(20px, 60px, 'padding-left')
  +fluid-type(20px, 60px, 'padding-right')
  overflow: hidden

.cta-litepaper__content
  max-width: 400px
  +mediaSize($small-tablet)
    max-width: 100%
    text-align: center

.cta-litepaper__content .section-title
  +mediaSize($small-tablet)
    text-align: center

.cta-litepaper__content .cta-litepaper__subtitle
  margin-top: 20px

.cta-litepaper__content .btn
  margin-top: 32px
  min-width: 200px

.cta-litepaper__decor
  position: absolute
  right: 0
  bottom: 0
  z-index: -1
  +fluid-type(320px, 628px, 'width')
  +mediaSize($small-tablet)
    position: static
    width: 100%
    margin-top: 16px

.cta-litepaper__decor svg
  overflow: visible