.generate-nft-heading h2 + .content
  +fluid-type(12px, 24px, 'margin-top')

.generate-nft-heading .content
  +fluid-type(16px, 18px)

.generate-nft-heading .content p + p
  margin-top: 20px

.generate-nft-heading .generate-nft-illustration
  +fluid-type(30px, 74px, 'margin-top')
  +mediaSize($mobile)
    margin-top: 0
    margin-bottom: 30px

.generate-nft-illustration
  +fluid-type(220px, 352px, 'width')
  +fluid-type(220px, 396px, 'height')
  display: flex
  align-items: flex-end
  justify-content: center
  position: relative
  margin: 0 auto

.generate-nft-illustration > .parallax-scene
  height: 100%
  width: 100%

.generate-nft-illustration img
  max-width: 100%
  max-height: 100%
  object-fit: contain
  z-index: 0
  margin: 0 auto

.generate-nft-illustration svg
  width: 100%
  height: auto
  position: absolute
  left: 0
  right: 0
  top: 0
  z-index: -1
  overflow: visible

.generate-nft-illustration .stars > *
  animation: starsAnimation 3s linear infinite alternate

@keyframes starsAnimation
  0%
    opacity: 1
  50%
    opacity: .2
  100%
    opacity: 1

@for $i from 1 through 3
  .generate-nft-illustration .stars > *:nth-child(#{$i})
    animation-delay: random(6) - 3 + s

.generate-nft-illustration .details > *
  animation: detailsAnimation 2s linear infinite
  animation-direction: normal
  transform: translate(-150%, -50%)

@keyframes detailsAnimation
  0%
    transform: translate(-150%, -50%)
  50%
    transform: translate(0, 0)
  100%
    transform: translate(150%, 50%)

@for $i from 1 through 9
  .generate-nft-illustration .details > *:nth-child(#{$i})
    animation-delay: random(6) - 3 + s

.notepad--mint .generate-nft-heading .generate-nft-illustration
  +mediaSize($mobile)
    order: -1

.generate-nft-heading .steps-block
  +fluid-type(30px, 60px, 'margin-top')

.generate-nft-heading .steps-block li
  align-items: center
  font-weight: 500
  color: white
  +fluid-type(16px, 20px)

.notepad-left__initial,
.notepad-left__success,
.notepad-right__success
  height: 100%

.notepad-left__success .generate-nft-heading
  display: flex
  flex-direction: column
  align-items: flex-start
  height: 100%

.notepad-left__success .generate-nft-heading .content
  +fluid-type(60px, 200px, 'margin-bottom')

.generate-nft-heading__actions
  margin-top: auto
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 12px

.notepad-right__success
  display: flex
  align-items: center

.notepad-right__success .generate-nft-illustration
  height: auto
  width: 100%

//.notepad-left__initial,
//.notepad-right__initial
//  display: none

.notepad-left__success,
.notepad-right__success
  display: none

.notepad--success .notepad-left__success,
.notepad--success .notepad-right__success
  display: flex

.notepad--success .notepad-left__initial,
.notepad--success .notepad-right__initial
  display: none