.get-in-touch
  margin-top: 90px

.get-in-touch__heading .section-title
  max-width: 695px

.get-in-touch__heading .section-subtitle
  max-width: 460px
  margin: 0 auto
  text-align: center
  +fluid-type(20px, 40px, 'margin-top')