.hero__content
  width: 55%
  +fluid-type(44px, 80px, 'margin-top')

.hero__content h1
  +fluid-type(32px, 72px)
  +fluid-type(42px, 86px, 'line-height')
  color: white


.hero__actions
  +fluid-type(20px, 68px, 'margin-top')
  display: flex
  align-items: center
  +fluid-type(16px, 18px)

.hero__actions .btn
  flex-shrink: 0
  width: 220px
  +fluid-type(20px, 68px, 'margin-right')

.hero__cards
  display: grid
  grid-template-columns: repeat(3, 172px)
  grid-gap: 22px
  +fluid-type(32px, 60px, 'margin-top')
