.what-is-ascan__listing
  display: flex
  position: relative
  grid-gap: 40px

.what-is-ascan__listing > *
  flex-grow: 1
  width: 33.33%


.what-is-ascan .section-title
  +fluid-type(32px, 60px, 'margin-bottom')


