.why-get-block
  +fluid-type(32px, 60px, 'padding-top')
  +fluid-type(32px, 60px, 'padding-bottom')
  +fluid-type(20px, 100px, 'padding-right')
  +fluid-type(320px, 500px, 'padding-left')
  background-color: $tile-bg
  border-radius: 16px
  border: 2px solid rgba(59, 62, 72, 0.5)
  position: relative
  +mediaSize($small-tablet)
    display: flex
    flex-direction: column
    padding-left: 20px

.why-get-block .why-get-block__decor
  +fluid-type(320px, 400px, 'width')
  position: absolute
  left: 0
  top: 0
  bottom: 0
  +mediaSize($small-tablet)
    height: 320px
    margin-top: 20px
    position: static
    display: flex
    justify-content: center
    width: 100%
  +mediaSize($mobile)
    width: 100%


.why-get-block .section-title
  +fluid-type(32px, 60px, 'margin-bottom')

.why-get-block__listing ol
  display: grid
  grid-template-columns: 1fr 1fr
  +fluid-type(20px, 40px, 'grid-gap')
  +mediaSize($small-tablet)
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))


.why-get-block__listing li::before
  margin-bottom: 20px

.why-get-block .benefit-item
  animation: benefit-item-animation 5s infinite

@keyframes benefit-item-animation
  50%
    transform: translateY(10px)

@for $i from 1 through 3
  .why-get-block .benefit-item:nth-child(#{$i})
    animation-delay: random(6) - 3 + s

.why-get-block .benefit-person
  animation: hero-person-animation infinite 10s linear

.why-get-block .benefit-person__arm-right
  animation: benefit-arm-right infinite 5s
  transform-origin: 50% 35%


.why-get-block .benefit-person__arm-left
  animation: benefit-arm-right infinite 5s
  animation-delay: -2.5s
  transform-origin: 50% 35%

@keyframes benefit-arm-right
  50%
    transform: rotate(-15deg)

.blinking-eye
  animation: eye-blink 5s infinite
  transform-box: fill-box
  transform-origin: bottom

@keyframes eye-blink
  90%
    transform: scaleY(1)
  93%
    transform: scaleY(0)