.attention,
.draw-underline,
.highlight-ellipse
  position: relative
  display: inline-block

.attention .icon
  color: $green
  position: absolute
  left: calc(100% - .05em)
  top: -.1em
  width: 0.5em
  height: 0.5em
  opacity: 0

.attention--left .icon
  left: auto
  top: -.2em
  right: calc(100% - .05em)

.attention--left .icon svg
  transform: scaleX(-1)

.draw-underline .icon
  position: absolute
  color: $green
  width: 100%
  bottom: -.15em
  left: 0
  height: .35em
  stroke-dasharray: 311
  stroke-dashoffset: 311
  z-index: -1

.highlight-ellipse .icon
  position: absolute
  left: 50%
  top: 60%
  transform: translate(-50%, -50%)
  color: $blue
  width: 105%
  stroke-dasharray: 753
  stroke-dashoffset: 753
  z-index: -1
